*.sln
*.old
*.user

venv
.vs
obj
bin

Meditation.pyproj
frontend/Fonts/OFL.txt
frontend/Fonts/Raleway-Bold.ttf
frontend/Fonts/Raleway-Bold.ttf.import
frontend/Fonts/Raleway-ExtraBold.ttf
frontend/Fonts/Raleway-ExtraBold.ttf.import
frontend/Fonts/Raleway-ExtraLight.ttf
frontend/Fonts/Raleway-ExtraLight.ttf.import
frontend/Fonts/Raleway-Heavy.ttf
frontend/Fonts/Raleway-Heavy.ttf.import
frontend/Fonts/Raleway-Light.ttf
frontend/Fonts/Raleway-Light.ttf.import
frontend/Fonts/Raleway-Medium.ttf
frontend/Fonts/Raleway-Medium.ttf.import
frontend/Fonts/Raleway-SemiBold.ttf
frontend/Fonts/Raleway-SemiBold.ttf.import
frontend/Fonts/Raleway-Thin.ttf
frontend/Fonts/Raleway-Thin.ttf.import
Meditation.pyproj
backend/__pycache__/promptBridgeReader.cpython-313.pyc
backend/__pycache__/llm.cpython-313.pyc
backend/__pycache__/generate_image.cpython-313.pyc
backend/__pycache__/dataBridgeWriter.cpython-313.pyc
.DS_Store
