ollama
transformers
torch
soundfile
datasets
absl-py
annotated-types
anyio
attrs
certifi
cffi
contourpy
cycler
exceptiongroup
flatbuffers
fonttools
h11
httpcore
httpx
idna
importlib_metadata
importlib_resources
jax
jaxlib
kiwisolver
matplotlib
ml_dtypes
numpy
ollama
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
pip
protobuf
pycparser
pydantic_core
pydantic
pyparsing
python-dateutil
scipy
setuptools
six
sniffio
sounddevice
typing_extensions
typing-inspection
zipp
diffusers
