absl-py
accelerate
annotated-types
anyio
attrs
certifi
cffi
contourpy
cycler
datasets
diffusers
exceptiongroup
flatbuffers
fonttools
h11
httpcore
httpx
idna
importlib_metadata
importlib_resources
jax
jaxlib
kiwisolver
matplotlib
ml_dtypes
numpy
ollama
ollama
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
pip
protobuf
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
scipy
setuptools
six
sniffio
sounddevice
soundfile
torch
transformers
typing-inspection
typing_extensions
zipp
